<div class="form-control">
    <%= form_for [:user, @trip] do |f| %>
        <% if @trip.errors.any? %>
            <div id="error_explanation" class="alert alert-danger" role="alert">
                <%= @trip.errors.full_messages.join(". ") %>
            </div>
        <% end %>

        <div class="field<%= ' field_with_errors' if @trip.errors[:title].any? %>">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div><br><br>

        <div class="field<%= ' field_with_errors' if @trip.errors[:start_date].any? %>">
            <%= f.label :start_date %>
            <%= f.date_field :start_date %>
        </div><br><br>

        <div class="field<%= ' field_with_errors' if @trip.errors[:end_date].any? %>">
            <%= f.label :end_date %>
            <%= f.date_field :end_date %>
        </div><br><br>

        <%= f.hidden_field :user_ids, value: @user.id, multiple: true %>

        <%= f.label :user_ids, "Invite Friends!" %>
        <%= f.collection_select :user_ids, User.all_except(current_user), :id, :name, { include_blank: true }, { multiple: true, class: "custom-select" } %><br><br>

        <%= f.label :destination_ids, "Destination 1" %>
        <%= f.collection_select :destination_ids, Destination.all, :id, :format_location, { include_blank: true }, { multiple: true } %><br><br>

        <%= f.label :destination_ids, "Destination 2" %>
        <%= f.collection_select :destination_ids, Destination.all, :id, :format_location, { include_blank: true }, { multiple: true } %><br><br>

        <%= f.label :destination_ids, "Destination 3" %>
        <%= f.collection_select :destination_ids, Destination.all, :id, :format_location, { include_blank: true }, { multiple: true } %><br><br>

        <%= f.submit %>
    <% end %>
</div>