<h1><%= @trip.title %></h1>

<% if flash[:errors].present? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
        <%= flash[:errors] %>
    </div>
<% end %>

<div>
    <strong>Dates: </strong><%= @trip.start_date_format %> - <%= @trip.end_date_format %><br><br>
</div>

<div>
    <strong>Destinations: </strong><br>
    <ul>
        <% @trip.destinations.each do |destination| %>
            <li><%= [destination.city, destination.state, destination.country].reject{ |s| s.blank? }.join(", ")  %></li>
        <% end %>
    </ul>
</div>

<div>
    <strong>People going on this trip:</strong>
    <% if @trip.users.all_except(current_user).present? %>
        <ul>
            <% @trip.users.all_except(current_user).each do |user| %>
                <% if current_user.admin_status(@trip) %>
                    <li><%= user.name %> - Allowed to edit trip? <strong><%= user.admin_status(@trip) ? "Yes" : "No" %></strong> <%= link_to "Change permission", user_users_trip_path(user, @trip.find_users_trip_with_user(user)), method: "patch" %>
                <% else %>
                    <li><%= user.name %></li>
                <% end %>
            <% end %>
        </ul>
    <% else %>
            <p>Nobody, yet!</p>  
    <% end %>
</div>

<% if current_user.admin_status(@trip) %>
    <%= link_to "Edit Trip", edit_user_trip_path(@user, @trip) %><br><br>

    <%= link_to "Delete Trip", user_trip_path(@user, @trip), method: "delete" %>
<% end %>