<h1>Destinations</h1>

<%= link_to "Most Popular Destination", destinations_most_popular_path() %>

<%= form_tag(destinations_path, method: "get") do %>
    <strong><%= label_tag :search, "Search Destinations: " %></strong>
    <%= text_field_tag :search %>

    <%= submit_tag "Search" %><br><br>
<% end %>

    <ul>
        <% @destinations.each do |destination| %>
            <li><%= "#{destination.format_location}" %></li>
        <% end %>
    </ul>